@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

.blogContent > * {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.blogContent a {
    color: #007bff;
    text-decoration: none;
}

.blogContent img {
    max-width: 100%;
    border-radius: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogContent h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem 0;
    margin-top: 2rem;
}

.blogContent h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem 0;
    margin-top: 2rem;
}

.blogContent h1 + h2 {
    margin-top: 1rem;
}
.blogContent h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0;
}

.blogContent p {
    font-size: 1rem;
    margin: 1rem 0;
}

.blogContent .hr {
    display: flex;
    align-items: center;
    fill: hsla(0, 100%, 100%, 0.8);
}

.blogContent .hr hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid hsla(0, 100%, 100%, 0.8);
    border-top-style: dashed;
}

.blogContent {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
}
