.maplibregl-canvas-container {
    transition: all 0.2s ease-in-out;
}

/* Import świątecznych styli */
@import "./components/pages/Christmas/christmas.css";

.map-dark .maplibregl-map {
    background-color: #1a1f26;
}

.map-dark .maplibregl-canvas-container {
    filter: invert(1) hue-rotate(180deg) contrast(90%) brightness(90%);
}

.maplibregl-marker * {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

*:not(.maplibregl-marker *) {
    font-family: "Roboto Flex", sans-serif !important;
    font-optical-sizing: auto !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.MuiPaper-root {
    background-image: none !important;
}

.vehicle {
    cursor: pointer;
    border-radius: 8px;
    padding: 1px 5px;
    display: flex;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.8);
    box-shadow:
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.vehicle .emoji {
    position: fixed;
    margin-top: -24px;
    margin-left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 4px;
    font-size: 14px;
    width: 24px;
    height: 24px;
}

.vehicle.filter {
    transition: opacity 0.1s ease-in-out;
    min-width: 65px;
    justify-content: center;
}

.vehicle b {
    font-weight: bold;
    margin-left: 1px;
}

.vehicle span {
    font-size: 10px;
}

.vehicle.marker svg {
    font-size: 16px;
}

.moving .maplibregl-marker:has(.vehicle) {
    transition: none;
}

.maplibregl-marker:has(.vehicle) {
    transition: all 0.5s ease-in-out;
    animation: fadeIn 0.1s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.delay {
    font-weight: bold !important;
    display: flex;
    align-items: center;
    gap: 4px;
}

.delay svg {
    width: 0.9em;
    height: 0.9em;
}

.delay-unknown {
    color: var(--mui-palette-text-secondary);
}

.delay-delayed {
    color: hsl(1, 100%, 70%);
}

.delay-early {
    color: hsl(35, 100%, 50%);
}

.delay-none {
    color: hsl(120, 73%, 65%);
}

.vehicleStopIcon {
    border-radius: 50%;
    background-color: white;
    width: 16px;
    height: 16px;
    z-index: 10;
}

.vehicleStopIconLine {
    position: absolute;
    top: -30px;
    left: 16px;
    width: 16px;
    height: 100%;
    pointer-events: none;
}

.vehicleStopIconLine.small {
    position: absolute;
    top: -20px;
    left: 16px;
    width: 16px;
    height: 100%;
}

.routeChip {
    color: hsla(0, 0%, 100%, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-weight: bold;
    font-size: 17px;
    height: 30px;
    width: 80px;
    gap: 4px;
    user-select: none;
    transition:
        color 0.2s,
        background-color 0.2s;
}

@media screen and (min-width: 600px) {
    .routeChip {
        cursor: pointer;
    }
}

.vehicleHeader {
    display: flex;
    align-items: center;
    gap: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes draw-path {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes highlight-node {
    to {
        fill: #e2e8f0;
        transform: scale(1.33);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
